@media #{$large-and-up} {
  nav {
    .brand-logo {
      margin-left: 70px;

      .logo-meteor {
        width: 150px;
      }
      .logo-materialize {
        width: 80px;
      }
    }
  }
}



nav {
  .brand-logo {
    .logo-meteor {
      width: 120px;
    }
    .logo-materialize {
      width: 50px;
    }
  }
}
