<template name="hello">

    <!-- #template name="hello" -->

    <div class="section section-hello">
        <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper no-pad-bot">
                        <div class="col s3">
                            <p class="center-align">
                                <button class="btn waves-effect waves-light js-add-counter">Click Me</button>
                            </p>
                        </div>
                        <div class="col s9">
                            <p>You've pressed the button {{counter}} times.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /template name="hello" -->

</template>
