<template name="header">

    <!-- #template name="header" -->

    <nav class="top-nav">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="#" class="brand-logo">
                        <img src="/img/logo-meteor.svg" class="logo-meteor" alt="meteor.com"> +
                        <img src="/img/logo-materialize.svg" class="logo-materialize" alt="materializecss.com">
                    </a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="https://www.meteor.com/">Meteor</a></li>
                        <li><a href="http://materializecss.com/">Materialize</a></li>
                    </ul>
                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="https://www.meteor.com/">Meteor</a></li>
                        <li><a href="http://materializecss.com/">Materialize</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- /template name="header" -->

</template>